<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.mapper.DayOffMapper">

    <insert id="addDayOff" parameterType="com.example.test.bean.DayOff">
        INSERT INTO day_off (id,from_time,to_time,reason)
        VALUES (#{id},#{fromTime},#{toTime},#{reason})
    </insert>
    <select id="getDayOff" resultType="com.example.test.bean.DayOff">
        SELECT *
        FROM day_off df
        WHERE df.id = #{id}
    </select>

</mapper>