<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.mapper.PracticeMapper">

    <insert id="addPractice" parameterType="com.example.test.bean.Practice">
        INSERT INTO practice (id,description,practice_time,hours,practice_type)
        VALUES (#{id},#{description},#{practiceTime},#{hours},#{practiceType})
    </insert>
    <select id="getAllKindsPractice" resultType="com.example.test.bean.Practice">
        SELECT *
        FROM practice p
        WHERE p.id = #{id}
    </select>
    <select id="getOneTypePractice" resultType="com.example.test.bean.Practice">
        SELECT *
        FROM practice p
        WHERE p.id = #{id} AND p.type = #{type}
    </select>

</mapper>