<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.mapper.StudentMapper">
    <select id="getStudentName" resultType="java.lang.String">
        SELECT
            stu.student_name
        FROM
            stu_base_info stu
        WHERE
            stu.id = #{id}
    </select>
    <select id="getNameByNum" resultType="java.lang.String">
        SELECT
            stu.student_name
        FROM
            stu_base_info stu
        WHERE
            stu.student_num = #{num}
    </select>
    <select id="getStudent" parameterType="java.lang.String" resultType="com.example.test.bean.Student">
        SELECT
            *
        FROM
            stu_base_info stu
        WHERE
            stu.student_num = #{studentNum}
    </select>
    <select id="getStudents" resultType="com.example.test.bean.Student">
        SELECT
            *
        FROM
            stu_base_info stu
        WHERE
            stu.student_num = #{numName} OR stu.student_name = #{numName}
    </select>
    <select id="getStuIdByNum" resultType="java.lang.Integer">
        SELECT
            stu.id
        FROM
            stu_base_info stu
        WHERE
            stu.student_num = #{stuNum}
    </select>
    <select id="getNumById" resultType="java.lang.Integer">
        SELECT
            stu.student_num
        FROM
            stu_base_info stu
        WHERE
            stu.id = #{id}
    </select>
    <select id="getMainPage" resultType="com.example.test.bean.MainPage" parameterType="java.lang.String">
        SELECT
            *
        FROM
            main_page
        WHERE
            num = #{num}
    </select>
    <select id="getStudentAll" resultType="com.example.test.bean.Student">
        SELECT
            *
        FROM
            stu_base_info stu
    </select>
    <update id="updateStudent" parameterType="com.example.test.bean.Student">
        UPDATE stu_base_info
        SET student_name = #{studentName},sex = #{sex},age = #{age},
            birthday = #{birthday},telephone = #{telephone}
        WHERE student_num = #{studentNum}
    </update>
    <update id="updateMainPage" parameterType="com.example.test.bean.MainPage">
        UPDATE main_page
        SET resume = #{resume},blog = #{blog},researchArea = #{researchArea},
            courses = #{courses},article = #{article}
        WHERE num = #{num}
    </update>
    <insert id="addStudent" parameterType="com.example.test.bean.Student">
        INSERT INTO stu_base_info(student_name,student_num,sex,age,birthday,telephone)
        VALUES (#{studentName},#{studentNum},#{sex},#{age},#{birthday},#{telephone})
    </insert>
    <insert id="initStudent" parameterType="java.lang.String">
        INSERT INTO stu_base_info(student_num)
        VALUES (#{studentNum})
    </insert>
    <insert id="initMainPage" parameterType="java.lang.String">
        INSERT INTO main_page(num)
        VALUES (#{num})
    </insert>
    <delete id="deleteStuBase" parameterType="com.example.test.bean.Student">
        DELETE FROM stu_base_info
        WHERE id = #{id}
    </delete>

</mapper>