<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.mapper.UserMapper">
    <select id="getNameById" resultType="java.lang.String">

        SELECT
            su.username
        FROM
            user su
        WHERE
            su.id = #{id}
    </select>
    <select id="getPwdById" resultType="java.lang.String">

        SELECT
            su.password
        FROM
            user su
        WHERE
            su.id = #{id}
    </select>
    <select id="getIdByName" resultType="java.lang.Integer">

        SELECT
            su.id
        FROM
            user su
        WHERE
            su.username = #{username}
    </select>
    <select id="getEmail" resultType="java.lang.String">
        SELECT
            su.email
        FROM
            user su
        WHERE
            su.username = #{username}
    </select>
    <select id="getRole" resultType="java.lang.String">
        SELECT
            su.roles
        FROM
            user su
        WHERE
            su.id = #{id}
    </select>
    <insert id="addUser" keyProperty="id" useGeneratedKeys="true" parameterType="com.example.test.bean.User">
        insert into user(username,password,roles)
        values(#{username},#{password},#{role})
    </insert>
    <update id="setEmail" parameterType="com.example.test.bean.User">
        UPDATE user
        SET email = #{email}
        WHERE username = #{username}
    </update>
    <update id="changePwd" parameterType="com.example.test.bean.User">
        UPDATE user
        SET password = #{password}
        WHERE username = #{username}
    </update>
    <insert id="initLike" parameterType="java.lang.String">
        INSERT INTO likes(num)
        VALUES (#{num})
    </insert>
    <update id="addLike" parameterType="com.example.test.bean.Like">
        UPDATE likes
        SET likes=#{likes}
        WHERE num=#{num}
    </update>
    <select id="getLikes" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
            likes
        FROM
            likes
        WHERE
            num = #{num}
    </select>
    <insert id="addFollow" parameterType="com.example.test.bean.Follow">
        INSERT INTO follow(num,followed)
        VALUES (#{num},#{followed})
    </insert>
</mapper>
